<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" /> -->
	<link rel="stylesheet" href="/static/polls/css/font-awesome/css/font-awesome.min.css" />

	<title>COLOR U</title>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet", type='text/css'>
	<link rel="stylesheet" href="/static/polls/css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/polls/css/animat/animate.min.css" />
	<link rel="stylesheet" href="/static/polls/css/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="/static/polls/css/nivo-lightbox/nivo-lightbox.css" />
	<link rel="stylesheet" href="/static/polls/css/themes/default/default.css" />
	<link rel="stylesheet" href="/static/polls/css/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="/static/polls/css/owl-carousel/owl.theme.css" />
	<link rel="stylesheet" href="/static/polls/css/owl-carousel/owl.transitions.css">

	<link rel="stylesheet" href="/static/polls/css/style.css" />
	<link rel="stylesheet" href="/static/polls/css/responsive.css" />
	<link rel="stylesheet" href="{% static 'polls/css/tempcss.css' %}">
</head>
<body>


	<div class='preloader'><div class='loaded'>&nbsp;</div></div>
	<header id="home" class="header">
		<div class="main_menu_bg navbar-fixed-top wow slideInDown" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>

						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						  <ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#home">Color U</a></li>
							<li><a href="#features">립 찾기</a></li>
							<li><a href="#special">이달의 립</a></li>
							<li><a href="#footer">건의사항</a></li>

						  </ul>
						</div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					</div>
				</div><!--End of row -->

			</div><!--End of container -->

		</div>
	</header> <!--End of header -->



	<section id="banner" class="banner">
		<div class="container">
			<div class="row">
				<div class="main_banner_area text-center">
					<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
						<div class="single_banner_text wow zoomIn" data-wow-duration="1s">
							<h7>COLOR    U</h7>

							<div class="separetor"></div>
						</div>
					</div>


					<div class="scrolldown">
						<a href="#special" class="scroll_btn"></a>
					</div>
				</div>


			</div>
		</div>
	</section><!-- End of Banner Section -->




	<section id="features" class="features sections">
		<div class="container">
			<div class="row">
				<div class="features_content text-center">
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="1s">
							<img src="/static/polls/images/1.png" alt="" />
							<h5>저렴이 립 찾기</h5>
							<p>고렴이, 내게 너무 먼 그대. 저렴이 립을 찾아드려요 </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="1.5s">
							<img src="/static/polls/images/2.png" alt="" />
							<h5>가격 관계 없이 비슷한 립 찾기</h5>
							<p>설명 </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="2s">
							<img src="/static/polls/images/3.png" alt="" />
							<h5>원하는 색상으로 립 찾기</h5>
							<p>브랜드별, 색상별 내가 원하는 립을 찾아보자. 브랜드별로 다니지 말고 한 눈에 찾아보자. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Abouts Section -->

	<section id="special" class="special sections">
		<div class="container">
			<div class="row">
				<div class="head_title text-center wow slideInLeft" data-wow-duration="1.5s">
					<h2>이 달의 립</h2>
					<div class="separetor"></div>
				</div>
				<div class="main_special text-center wow slideInUp" data-wow-duration="3s">

					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/lipstick1.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>M.A.C</h3>
								<div class="overlay_separetor"></div>
								<p>cremesheen lipstick</p>
								<p>17.50$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p2.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p3.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p4.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p5.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p6.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p5.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p4.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p3.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/p2.jpg" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="/static/polls/images/s1.png" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Greens fava</h3>
								<div class="overlay_separetor"></div>
								<p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
								<p>17$</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer Section -->

	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-5 col-sm-offset-7 col-xs-10 col-xs-offset-2">
					<div class="contact_area wow slideInLeft" data-wow-duration="2s">
						<div class="head_title text-center">
							<h2>건의사항</h2>
							<div class="separetor"></div>
						</div>

						<div class="main_contact_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>원하는 립이 없나요? </h5>
										<span>건의 해주시면 즉각 반영하겠습니다</span>
										<span>추가 내용?</span>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>립 외의 다른 화장품도 원하시나요?</h5>
										<span>섀도우, 블러셔 등 건의 해주시면 적극 검토하겠습니다</span>
										<span>추가 내용?</span>
									</div>
								</div>
							</div>

							<div class="contact_form_area">
								<h3>Contact form</h3>
								<form action="#" id="formid">
									<div class="row">
										<div class="col-sm-6 col-xs-6">
											<div class="form-group">
												<input type="text" class="form-control" name="name" placeholder="first name">
											</div>
										</div>

										<div class="col-sm-6 col-xs-6">
											<div class="form-group">
												<input type="email" class="form-control" name="email" placeholder="Email">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
											</div>


										</div>

										<div class="form_btn_area text-center">
											<a href="" class="btn">Send</a>
										</div>
									</div>
								</form>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="copyright_text_area">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right wow zoomIn" data-wow-duration="2s">
							<p> </p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right">

							<div class="footer_socail wow zoomIn" data-wow-duration="1.5s">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- STRAT SCROLL TO TOP -->

	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>






	<script type="text/javascript" src="/static/polls/js/jquery/jquery.js"></script>

	<script type="text/javascript" src="/static/polls/js/script.js"></script>

	<script type="text/javascript" src="/static/polls/js/bootstrap/bootstrap.min.js"></script>

	<script type="text/javascript" src="/static/polls/js/fancybox/jquery.fancybox.pack.js"></script>

	<script type="text/javascript" src="/static/polls/js/nivo-lightbox/nivo-lightbox.min.js"></script>

	<script type="text/javascript" src="/static/polls/js/owl-carousel/owl.carousel.min.js"></script>



	<script type="text/javascript" src="/static/polls/js/jquery-easing/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/static/polls/js/wow/wow.min.js"></script>
</body>
</html>
